USE [autoDB]
GO
/****** Object:  Table [dbo].[auto]    Script Date: 25/1/2026 15:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto](
	[id_auto] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](8) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[modelo] [varchar](20) NOT NULL,
	[chasis] [varchar](50) NOT NULL,
	[propietario] [varchar](20) NOT NULL,
	[anio_modelo] [int] NULL,
 CONSTRAINT [PK_carro] PRIMARY KEY CLUSTERED 
(
	[id_auto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dias_restriccion]    Script Date: 25/1/2026 15:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dias_restriccion](
	[id_dias] [int] IDENTITY(1,1) NOT NULL,
	[dia] [varchar](10) NOT NULL,
	[primeraPlaca] [int] NOT NULL,
	[segundaPlaca] [int] NOT NULL,
 CONSTRAINT [PK_dias_restriccion] PRIMARY KEY CLUSTERED 
(
	[id_dias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horario]    Script Date: 25/1/2026 15:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horario](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[primera_hora_am] [time](7) NOT NULL,
	[segunda_hora_am] [time](7) NOT NULL,
	[primera_hora_pm] [time](7) NOT NULL,
	[segunda_hora_pm] [time](7) NOT NULL,
 CONSTRAINT [PK_horario] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auto] ON 

INSERT [dbo].[auto] ([id_auto], [placa], [color], [modelo], [chasis], [propietario], [anio_modelo]) VALUES (0, N'PFM2395', N'NEGRO', N'AVEO EMOTION', N'SDSDFD5511FGSDFAF', N'PATRICIA MONTA', 2019)
INSERT [dbo].[auto] ([id_auto], [placa], [color], [modelo], [chasis], [propietario], [anio_modelo]) VALUES (1, N'ABC1234', N'Rojo', N'Toyota Corolla', N'CHS001234', N'Juan Perez', 2018)
INSERT [dbo].[auto] ([id_auto], [placa], [color], [modelo], [chasis], [propietario], [anio_modelo]) VALUES (2, N'XYZ5678', N'Azul', N'Chevrolet Spark', N'CHS005678', N'Maria Lopez', 2020)
SET IDENTITY_INSERT [dbo].[auto] OFF
GO
SET IDENTITY_INSERT [dbo].[dias_restriccion] ON 

INSERT [dbo].[dias_restriccion] ([id_dias], [dia], [primeraPlaca], [segundaPlaca]) VALUES (1, N'Lunes', 1, 2)
INSERT [dbo].[dias_restriccion] ([id_dias], [dia], [primeraPlaca], [segundaPlaca]) VALUES (2, N'Martes', 3, 4)
INSERT [dbo].[dias_restriccion] ([id_dias], [dia], [primeraPlaca], [segundaPlaca]) VALUES (3, N'Miercoles', 5, 6)
SET IDENTITY_INSERT [dbo].[dias_restriccion] OFF
GO
SET IDENTITY_INSERT [dbo].[horario] ON 

INSERT [dbo].[horario] ([id_horario], [primera_hora_am], [segunda_hora_am], [primera_hora_pm], [segunda_hora_pm]) VALUES (1, CAST(N'06:00:00' AS Time), CAST(N'09:30:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[horario] OFF
GO
